<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate="">
  <div class="mb-3">
      <input class="form-control" formControlName="email"
             id="inputEmail" name="inputEmail"
             placeholder="Email" type="email">
      <small *ngIf="submitted && registerControl.email.errors"
             class="form-text text-left text-danger">
          <div *ngIf="registerControl.email.errors.required">Please enter email.
          </div>
          <div *ngIf="registerControl.email.errors.pattern">Please enter valid
              email.
          </div>
      </small>
  </div>

  <div class="mb-3">
      <input class="form-control"
             formControlName="password" id="inputPass" name="inputPass"
             placeholder="Password" type="password">
      <small *ngIf="submitted && registerControl.password.errors"
             class="form-text text-left text-danger">
          <div *ngIf="registerControl.password.errors.required">Please enter
              password.
          </div>
      </small>
  </div>
  <div class="mb-3">
        <input class="form-control" formControlName="firstname"
            id="firstname" name="firstname"
            placeholder="First Name" type="text">
        <small *ngIf="submitted && registerControl.firstname.errors"
            class="form-text text-left text-danger">
            <div *ngIf="registerControl.firstname.errors.required">Please enter firstname.
            </div>
        </small>
    </div>
  <div class="mb-3">
        <input class="form-control" formControlName="lastname"
            id="lastname" name="lastname"
            placeholder="Last Name" type="text">
        <small *ngIf="submitted && registerControl.email.errors"
            class="form-text text-left text-danger">
            <div *ngIf="registerControl.email.errors.required">Please enter lastname.
            </div>
        </small>
    </div>

  <div class="fg-actions d-flex justify-content-between">
      <!--<div class="register-btn">
          <a class="btn btn-outline-primary" routerLink="/forgot-password">Forgot
              Password ?</a>
      </div>-->
      <div class="recover-pass">
          <button class="btn btn-primary btn-block btn-raised" type="submit">
              Register
          </button>
      </div>
  </div>
</form>