<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate="">
  <div class="mb-3">
      <input [(ngModel)]="email" class="form-control" formControlName="email"
             id="inputEmail" name="inputEmail"
             placeholder="Email" type="email">
      <small *ngIf="submitted && loginControl.email.errors"
             class="form-text text-left text-danger">
          <div *ngIf="loginControl.email.errors.required">Please enter email.
          </div>
          <div *ngIf="loginControl.email.errors.pattern">Please enter valid
              email.
          </div>
      </small>
  </div>

  <div class="mb-3">
      <input [(ngModel)]="password" class="form-control"
             formControlName="password" id="inputPass" name="inputPass"
             placeholder="Password" type="password">
      <small *ngIf="submitted && loginControl.password.errors"
             class="form-text text-left text-danger">
          <div *ngIf="loginControl.password.errors.required">Please enter
              password.
          </div>
      </small>
  </div>

  <div class="fg-actions d-flex justify-content-between">
      <!--<div class="login-btn">
          <a class="btn btn-outline-primary" routerLink="/forgot-password">Forgot
              Password ?</a>
      </div>-->
      <div class="recover-pass">
          <button class="btn btn-primary btn-block btn-raised" type="submit">
              Login
          </button>
      </div>
  </div>
</form>